@font-face {
  font-family:"PT Sans" ;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display:swap;
}
@font-face {
  font-family:"PT Sans"  ;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2)format("woff2");
  font-display:swap;
}
html {
height: 100%;
}
/*pages*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.box {
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  outline: 1px solid red;
}
/*header*/
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  background-color: #ffffff;
  margin: 0;
  padding: 0px 70px;
  /*
  box-shadow:0 4px 4px 0px rgba(0, 0, 0, 0.25);*/
  outline: 1px solid red;
}
.navigation-link-logo {
  display: block;
  padding:0;
  margin:0;
}
.navigation {
  outline: 1px solid red;
  display: flex;
  justify-content:s
  margin: 0;
  padding: 0;

}
.navigation-list {
  /*list-style: none;*/
  width: 445px;
  padding: 0;
  margin:  0;
}
/* не могу понять, почему отступы не сбрасываются*/
.user-list {
  max-width: 312px;
}
/* может сделать для каждого списка*/
/*.nobullet {
  list-style-type: none;
}*/
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: capitalize;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*main*/
.main-index  {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
}
.main-container {
  flex-grow: 1;
}

.action {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}
/*хиро*/
.hero {
  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  /*есть вопросы к размеру фона-изображения*/
  background-size: 100% auto , 100% auto;
  background-repeat: no-repeat , no-repeat;
  background-position:bottom center, top center;
}
/*advantages*/
.advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.container-sectional p{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform:none;
}
.basic-3 {
 color:rgba(255, 255, 255, 1);
 background-color:#82B3D3;
}
.basic-3 p{
  color:rgba(255, 255, 255, 1);
}
.second-1{
  background-color:rgba(131, 179, 211, 0.12);
}
.second-2{
  background-color:rgba(131, 179, 211, 0.2);
}
/* поиск гостниц*/
.Interesting{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.choose-a-date{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform:none;
}
/*подписка*/
.subscribe {
  color: rgba(255, 255, 255, 1);
  background-image: url("../images/background-filter.jpg");
  background-size: 100% 414.86px;
  background-repeat: no-repeat;
}
.subscribe p {
  color: rgba(255, 255, 255, 1);
}
/* Правильно здесь?*/
.subscribe-input {
  color:rgba(0, 0, 0, 1);
 background-color:rgba(242, 242, 242, 1);
 border-style: none;
}

.page-footer{
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  background-color:#ffffff;
}
.social-link{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.contacts-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  background-color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:rgba(255, 255, 255, 1);
  background-color:#756157;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
}
.button-blue {
  background-color:#82B3D3;
}
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color:rgba(255, 255, 255, 1);
}
/*Каталог*/

.main-inner{
  color:#000000;
  background-color: #ffffff;
}

.container-main-inner {
  background-image: url("../images/background-filter.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  text-align: left;
  color:rgba(255, 255, 255, 1);
  background-color: #000000;
  text-transform: capitalize;
}
.header-inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}
.filter-ifra-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
/*хлебные крошки*/
.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-link {
  color: inherit;
}
.text {
  color:#F2F2F2;
}
/* результаты поиска*/
.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
}
/* карточки гостиниц*/
.container-cards {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  text-align: left;
  color:#333333;
  background-color: #ffffff;
  text-transform: capitalize;
}
.hotel-card-link{
  color: #000000;
  text-decoration: none;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.hotel-name {
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
.hotel-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color:#333333;
}
.hotel-rating{
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  background-color:#F2F2F2;
  text-align: center;
  text-transform: uppercase;
}
/*пагинация*/
.pagination-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color:#82B3D3;
  text-decoration: none;
}
.pagination-link-1 {
  color: #000000;
  background-color:#F2F2F2;
}
/*подписка*/
.subscribe-catalog {
  color: rgba(0, 0, 0, 1);
  background-color:#ffffff;
  text-align: center;
}
.subscribe-catalog b {
  color: rgba(0, 0, 0, 1);
}
.subscribe-catalog p {
  color:rgba(51, 51, 51, 1) ;
}

/*кнопки каталог*/
.button-blue-inner {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color:#82B3D3;
  text-transform: uppercase;
}
.button-none{
  background-color: transparent;
}
