@font-face {
  font-family:"PT Sans" ;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display:swap;
}
@font-face {
  font-family:"PT Sans"  ;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2)format("woff2");
  font-display:swap;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
height: 100%;
}
/*pages*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box {
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  outline: 1px solid red;
}
/*header*/
.page-header {
  display: flex;
  background-color: #ffffff;
  margin: 0;
  padding: 0px 70px;
  /*тут должна быть тень
  box-shadow:0 4px 4px 0px rgba(0, 0, 0, 0.25);*/
  outline: 1px solid red;
}
.index-logo {
  width:138px;
  padding:0;
  margin:0 28px -6px 0;
}
.navigation {
  display: grid;
  grid-template-columns:446px 268px;

  list-style: none;
  margin:  0;
  padding: 0;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin:  0;
  padding: 0;
}
.navigation-item {
  display: block;
  padding: 0;
  margin: 0;
}

.user-shearch {
display: block;
width: 44px;
height: 64px;
background-image: url("../images/search.svg");
background-repeat: no-repeat;
background-position: center;
margin: 0;
padding: 0px 12px;
}
.user-like {
  display: block;
width: 44px;
height: 64px;
background-image: url("../images/heart.svg");
background-repeat: no-repeat;
background-position:center;
}
.user-button-here {
  display: block;
  padding: 8px 34px;
  margin:14px 0 14px 20px ;
}
/*.nobullet {
  list-style-type: none;
}*/
.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
  margin: 0;

}

/*main*/
.index-main  {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;

}
.main-container {
  flex-grow: 1;
}

/*хиро*/
.hero {
  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  background-size: 100% auto , 100% auto;
  background-repeat: no-repeat , no-repeat;
  background-position:bottom center, top center;
  display:flex;
  flex-direction: column;
  outline: 1px solid red;
}
.welcome-logo {
  display: block;
  margin:51px 371px 82px 371px;
}

/*advantages*/
.advantages-promo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 69px 0;
 }
 .advantages-promo b {
   padding: 0;
   margin: 0px 290px 25px 290px;
 }
 .advantages-promo p {
   padding: 0;
   margin: 0px 274.5px 0px 274.5px;
 }

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc(100% / 3);
  width: calc(100% / 3);
}

.advantages-item-full {
  flex-basis: 100%;
  width: 100%;
  margin: 0;
}

.advantages-picture-block {
  display: flex;
  flex-basis: 100%;
  width: 100%;
}

.advantages-picture-block .advantages-content {
  flex-basis: calc(100% / 3);
  width: calc(100% / 3);
}

.advantages-picture-block .advantages-img {
  flex-basis: calc(2 * (100% / 3));
  width: calc(2 * (100% / 3));
}

.advantages-picture-block-reverse {
  flex-direction: row-reverse;
}
.advantages-promo-2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 64px 0;
}
/* не работает марджин*/
.advantages-promo-2 b {
  padding: 0;
  margin: 0 347,5px 20px 347,5px;
}
.advantages-promo-2 p {
  padding: 0;
  margin: 0px 355px 0px 355px;
}
.advantages-sub-list {
  display: flex;
  flex-basis: 100%;
  width: 100%;
}
.advantages-sub-item {
  flex-basis: calc(100% / 3);
  width: calc(100% / 3);
}
.container-title {
  padding: 102px 112.5px 30px 112.5px;
}
.advantages-content p {
  padding: 30px 85px 102px 85px;
}
.advantages {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.advantages-content p{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform:none;
  margin: 0;
}

.action {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.basic-3 {
 color:rgba(255, 255, 255, 1);
 background-color:#82B3D3;
}
.basic-3 p{
  color:rgba(255, 255, 255, 1);
}
.second-1{
  background-color:rgba(131, 179, 211, 0.12);
}
.second-2{
  background-color:rgba(131, 179, 211, 0.2);
}

/* поиск гостниц*/

.search-hotels {
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 96px 0;
}
.button-search {
  display: block;
  width: 376px;
  margin-left: auto;
  margin-right: auto;
}
.search-hotels b {
  padding: 0;
  margin:0 451.5px 20px 451.5px ;
}
.search-hotels p {
  padding: 0;
  margin:0 304px 54px 304px ;
}
.button-search {
  padding:8px 50px;
  margin:0 412px 0px 412px ;
}
/*подписка*/
.subscribe-index {
  color: rgba(255, 255, 255, 1);
  background-image: url("../images/background-filter.jpg");
  background-size: 100% 414.86px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 96px 0 104px 0;
}
.subscribe-index b {
  margin: 0px 398px 20px 398px;
  padding: 0;
}
.subscribe-index p {
  color: rgba(255, 255, 255, 1);
  margin: 0 362.5px 54px 362.5px;
  padding: 0;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0 258px 0px 258px;
  padding: 0;
}

.subscribe-input {
 color:rgba(0, 0, 0, 1);
 background-color:rgba(242, 242, 242, 1);
 border-style: none;
 width: 452px;
 height: 52px;
 border-radius: 4px 0px 0px 4px;
 padding: 14px 345px 14px 20px;
}

.page-footer{
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  background-color:#ffffff;
  display: flex;
  justify-content: space-between;
  justify-content: ;
  padding: 40px 70px 30px 70px;
  margin: 0;
}
.contacts {
  display: block;
  width: 720px;
  margin: 5px 0;
}
.social {
display: flex;
list-style-type: none;
margin: 5px 0;
padding: 1px, 10px, 1px, 10px;
justify-content: flex-start;
max-width: 183.5px;
flex-grow: 1;
}
.social-link{
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-htmlacademy {
  display: block;

  margin: 8.5px 0 ;
  padding: 0;
}
/* иконки скачут заразы,хотя всё по науке*/
.social-link-vk {
  background-image:url("/images/vector-vk.svg");
  display: block;
  Width:47.33px;
  Height:40px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0px, 10px, 0px, 10px;
}
.social-link-telegram {
  background-image:url("/images/vector-tg.svg");
  display: block;
  Width:47.33px;
  Height:40px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 1px, 10px, 1px, 10px;
}
.social-link-youtube {
  background-image:url("/images/vector-youtube.svg");
  display: block;
  Width:47.33px;
  Height:40px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0px, 10px, 0px, 10px;
}
.contacts-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  background-color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:rgba(255, 255, 255, 1);
  background-color:#756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  border-radius: 4px;
}
.button-blue {
  background-color:#82B3D3;
}
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.subscribe-button {
  padding: 8px 50px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
}

/*Каталог*/
.catalog-box {
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  outline: 1px solid red;
}

.main-inner{
  color:#000000;
  background-color: #ffffff;
}

.container-filter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 70px 70px 70px;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  text-align: left;
  color:rgba(255, 255, 255, 1);
  background-color: #000000;
  text-transform: capitalize;
  outline: 1px solid red;
}
.header-inner {
  display: flex;
  flex-direction: column;
}
.header-inner-title{
  display: block;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 494.4px;
  margin: 35px 565.6px 8px 0;
  padding: 0;

}

/*хлебные крошки*/
.breadcrumbs {
  display: flex;
  margin: 0%;
  padding: 8px 1016px 40px 0px;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
}
/*выстроить я ряд svg и текст*/
.breadcrumbs-link {
  color: inherit;
  background-image:url("/images/breadcrubs-home.svg"), url("/images/icons-breadcrumbs.svg");
  display: block, block;
  Width: 12px, 6.39px;
  Height: 12px,9.94px;
  background-repeat: no-repeat,no-repeat;
  background-position: center, center;
  margin: 11.5px 10.5px 45.5px 0;
  padding: 0;

}
/* флекс фильтров каталога*/
.catalog-filter-form {
  display: flex;
  margin: 0 auto;
  padding: 0px;

}

.filter-ifra {
  display: flex;
  width: 150px;
  margin: 0%;
  padding: 0%;
  border-style: none;

}
.filter-ifra-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.filter-ifra-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 32px 38.43px 0 0;
}
/*апартаменты не влазят, переходят на строку ниже*/
.filter-ifra-list-hote {
  margin: 32px 9.43px 0 0;
}
.filter-hotel {
  padding-left: 9.43px; ;
  margin: 0 0 0 70px;
}

.filter-price {
  display: flex;
  max-width: 300px;
  padding: 0%;
  margin-left: auto;
  border-style: none;
}
.catalog-filter-title {
  width: 116.33px;
  margin-bottom: 32px;
}
.input-size {
  background-color: #E5E5E5;
  width: 143px;
  height: 48px;
  border-radius: 4px;
  padding: 12px, 20px, 12px, 20px
}
.button-filter {
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0 0 0 70px;
}
.text {
  color:#F2F2F2;
}
/* результаты поиска*/
/* сетка результата поиска*/
.sorting {
  display: flex;
  padding: 50px 70px 40px 70px;
  margin: 0 auto;
}
.search-results {
  display: block;
  min-width: 338px;
  max-width: 350px;
  height: 36px;
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  margin-right: auto;
}
/* текст не помещается */
.select-control {
  width: 292px;
  height: 49px;
  box-sizing: border-box;
  padding: 14px 20px;
  margin: 0 70px 0 198px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px
}
.view {
  display: block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
  Width: 48px;
  Height: 48px;
  background-repeat:no-repeat;
  background-position: center;
  padding: 0;
}
.tiles {
  background-image:url("/images/vector-view.svg");
  margin-left:  70px;
  margin-right: 8px;
  padding: 0;
}
.big-tiles {
  background-image:url("/images/vector-view2.svg");
  margin-right: 8px;
}
.list-results {
  background-image:url("/images/vector-view3.svg");
  margin: 0;
}
/* карточки гостиниц*/
/*сетки карточки*/
.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 70px;
  margin: 0 auto;
}
.hotel-card {
  display: flex;
  width: 340px;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.hotel-card-link {
  display: block;
  text-decoration: none;
}
.hotel-card-image {
  max-width: 100%;
  display: block;
  height: auto;
  padding: 0 0 16px 0;
}
.hotel-card-title {
  margin:0;
  padding: 0 0 16px 0;
}
.hotel-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 20px;
}


.button-more  {
  width: 140px;
  height: 36px;
 padding:8px 26px;

}

.button-like {
  width: 140px;
  height: 36px;
  padding:8px 20px;

}

.hotel-stars {
  display: block;
  width: 18px;
  height: 18px;
  padding-top: ;
  background-image: url("../images/vector-stars-raiting.svg");
  background-position: left center;
}

.hotel-stars-rating-2 {
  width: 36px;
}

.hotel-stars-rating-3 {
  width: 54px;
}

.hotel-stars-rating-4 {
  width: 72px;
}

.hotel-stars-rating-5 {
  width: 90px;
}

.container-cards {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  text-align: left;
  color:#333333;
  background-color: #ffffff;
  text-transform: capitalize;
}
.hotel-card-link{
  color: #000000;
  text-decoration: none;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.hotel-name {
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
.hotel-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color:#333333;
}
.hotel-rating {
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  background-color:#F2F2F2;
  text-align: center;
  text-transform: uppercase;

}
/*пагинация*/
.pagination {
  display: flex;
  margin: 40px 660px 60px 70px;
  padding: 0;
}
.pagination-item {
  display: flex;
}

.pagination-link{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color:#82B3D3;
  text-decoration: none;
  margin: 0 4px;
  padding: 11.36px 24.55px 12.64px 23.45px;
  border-radius: 4px;
}
.pagination-link-1 {
  color: #000000;
  background-color:#F2F2F2;
}
/*подписка*/
.subscribe-catalog {
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  padding: 96px 0 104px 0;
}
.subscribe-catalog b {
  margin: 0px 398px 20px 398px;
  padding: 0;
}
.subscribe-catalog p {
  color: rgba(255, 255, 255, 1);
  margin: 0 362.5px 54px 362.5px;
  padding: 0;
}
.subscribe-catalog {
  color: rgba(0, 0, 0, 1);
  background-color:#ffffff;
  text-align: center;
}
.subscribe-catalog b {
  color: rgba(0, 0, 0, 1);
}
.subscribe-catalog p {
  color:rgba(51, 51, 51, 1) ;
}

/*кнопки каталог*/
.button-blue-inner {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color:#82B3D3;
  text-transform: uppercase;
}
.button-green {
  background-color:#7DB54F;
}
.catalog-filter-button {
  width: ;
  padding: 8px 50px;
}
.button-none{
  background-color: transparent;
  padding: 8px 57.5px;
  margin-top: 32px;
}
